.body {
  margin: 0;
  padding: 0;
  font-family: 'IM Fell DW Pica', serif;
  background-color: #f2e6ff;
  color: #333;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.side-image {
  flex-basis: 10%;
  text-align: left;
}

.center-text {
  flex-basis: 30%;
  text-align: center;
}
  
  #imageContainer {
    text-align: center;
    margin-top: 50vh;
  }
  
  .animated-image {
    display: none;
    max-width: 100%;
    animation-duration: 1.5s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes bounceIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
@font-face {
    font-family: vcr;
    src: url(assets/folklore.ttf);
}
h1 {
  color: black;
  font-family: vcr;
  font-size: 2vw; /* Tamaño del texto en unidades de ancho de ventana (vw) */
}
header{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    background-color: #ecbbf3;
    justify-content: space-between;
    align-items: center;
    color:white;
    border: 20px double white; 
    font-family: vcr;
    font-weight: normal;
    text-align: center; 
    padding-right: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.loguito{
    height: 100px;
    margin-right: 10px;
    margin-left: 10px;
}
.chiquito{
    width: 50%;
    align-self:flex-start;
}
table {
    width: 1500px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column
}
table a{
    color: black;
}
tbody{
    text-align: left;
    font-family: vcr;
    font-weight: 10;
    
}
th{
    text-align: center;
    background-color:rgb(255, 230, 255);

}

tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color:#F1FAD4;
    
}
body { 

    background-position: center 25%; 
    background-size: cover; 
    margin: 0%;
} 

.inicio{
    background-image: url(assets/vaporwave.gif);
    background-position: center 500%; 
    background-size:100%
}
.banner{
    margin: 0 auto;
    color:white;
    font-size: 50pt;
    border: 6px double white; 
    font-family: vcr;
    font-weight: normal;
    text-align: center;   
}
a{
    text-decoration: none;

}
a:visited {
    color: none;
  }
nav a{
    font-weight: 700;
    padding-right: 10px;
    color: white;
    font-size: 25px;
}

.Titulo{
    font-size: 100px;
}
@media (max-width: 768px) {
  /* Modifica aquí los estilos que desees para pantallas pequeñas */
  /* Por ejemplo, ajusta el tamaño de la imagen, el ancho del texto, etc. */
  .loguito {
    height: 80px;
  }

  .Titulo {
    font-size: 50px;
  }

  .content {
    padding: 10px;
  }
}
.CSS{
    background-image: url(assets/fondo.gif);
    background-position: center 120%; 
    background-size: cover; 
}
article {
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 2em;
	background-color: #c0c0c0;
	border-left: 2px solid #eee;
	border-top: 2px solid #eee;
	border-right: 2px solid #444;
	border-bottom: 2px solid #444;
	font-size: 1rem;
    font-family: vcr;
    font-weight: normal;   
}

p:nth-child(odd):hover{
    color: white;
    background-color: blue;
    text-decoration: underline;
}
p:nth-child(even):hover{
    color: white;
    background-color: purple;
    text-decoration: wavy;
}
p::first-letter{
    color: #e580ff;
}
.centrado{
     margin:10px auto;
    display:block;
}
.flex{
    width: 700px;
}


.scale-up-left {
  animation: scale-up-left 1.1s;
  width: 500px;
  border-radius: 10px;
}


@keyframes scale-up-left {
  0% {
    transform: scale(.5);
    transform-origin: left center;
  }
  100% {
    transform: scale(1);
    transform-origin: left center;
  }
}

.scale-up-right {
  animation: scale-up-right 1.1s;
  width: 500px;
  margin-left: auto;
  border-right: 50px;
  border-radius: 10px;
}
  
  @keyframes scale-up-right {
    0% {
      transform: scale(.5);
      transform-origin: right center;
    }
    100% {
      transform: scale(1);
      transform-origin: right center;
    }
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    color: black;
    border-radius: 10px; 
    background-color: #ffb3ff;
  }
  #btnIniciar {
    background-color: #ffb3ff;
  }
  .scale-up-left:hover {
    transform: scale(1.2); /* Escala la imagen al 120% en el evento hover */
  }
  .scale-up-right:hover {
    transform: scale(1.2); /* Escala la imagen al 120% en el evento hover */
  }